@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --white: #fff;
  --slate-300: #d5e1ef;
  --slate-500: #68778d;
  --slate-900: #1f314f;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding:20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--slate-300);
  font-family: "Outfit", sans-serif;
}

#container{
  width: 100%;
min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: scroll;
}

h1 {
  color: var(--slate-900);
  font-size: 22px;
  line-height: 120%;
}

p {
  color: var(--slate-500);
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.txt-width {
  width: 256px;
}

#card {
  background-color: var(--white);
  margin: auto;
  height: 480px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#img-card {
  background-image: url(images/image-qr-code.png);
  background-size: contain;
  height: 288px;
  width: 288px;
  border-radius: 10px;
  margin-top: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#text {
  width: 288px;
  height: 131px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* media queries for mobile <350Px */
@media only screen and (max-width: 350px) {
  #card {
    width: 90%;
    justify-content: space-around;
  }

  #img-card {
    width: 270px;
    height: 270px;
  }
  #text {
    width: 90%;
    height: 120px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }
}
